* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Segoe UI;
}
.headbar {
    padding: 10px 8px 0px 0px;
    width: auto;
    height: 37px;
    background-color: white;
    display: flex;
    justify-content: right;
    align-items: center;
}
.headItem {
    padding: 0px 10px;
}
.headItem>a {
    font-size: 14px;
    color: black;
    text-decoration: none;
}
.headImg {
    width: 37px;
}
.grid {
    width: 23px;
}
.googleImg {
    margin: 13px;
    margin-bottom: 30px;
}
.searchbar{
    display: flex;
    justify-content: center;
    height: 43px;
    width: 600px;
    border: 1px solid #dfe1e5;
    border-radius: 50px;
    margin-bottom: 30px;
}
.firstones{
    font-size: 13px;
    display: inline;
    margin: 7px;
    background-color: #f8f9fa;
    padding: 11px;
}
.secondone{
    display: block;
    font-size: 12px;
    padding: 9px;
    margin: 20px;
}
.search-interface-symbol{
    width: 21px;
    height: 21px;
    margin-top: 11px;
}
.searchInput{
    width: 428px;
    height: 43px;
    margin: 0px 40px;
    border: 1px black;
    outline: none;
}
.microphone{
    width: 18px;
    height: 26px;
    justify-content: center;
    display: inherit;
    margin: 8px;
}
/* .RB{
    border: 0px;
} */
.downbar{
    background: #f2f2f2;
    height: 46px;
    display: flex;
    align-items: center;
}
.downBarAnchorTags{
    padding: 15px;
    font-size: 14px;
    font-family: Arial;
    color: #70757a;
    text-decoration: none;
}
.downBarAnchorTags:hover{
    padding: 15px;
    font-family: Arial;
    font-size: 14px;
    color: #70757a;
    text-decoration: underline;
}
.spaceDiv{
    width: 100%;
    height: 172px;
}
.upBar{
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    background-color: #f2f2f2;
}